@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Montserrat:wght@500&family=Rubik:wght@400;500&display=swap');

$body-bg: #093545;
$body-color: #ffffff;
$controls-bg: #224957;
$primary: #20df7f;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('./images/background.svg') bottom no-repeat;
  background-size: contain;
  background-color: $body-bg;
  min-height: 100vh;
  font-family: 'Rubik';
  font-size: 16px;
  color: $body-color;
}

.wrapper {
  padding: 60px;
}
