@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&family=Montserrat:wght@500&family=Rubik:wght@400;500&display=swap');

// VARIABLES
$body-bg: #093545;
$body-color: #ffffff;
$controls-bg: #224957;
$primary: #20df7f;
$danger: #e53935;

// FUNCTIONS
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}

// MIXINS
@mixin btnColor($color) {
  background: $color;

  &:hover {
    background: shade($color, 15%);
  }

  &:focus {
    outline: 4px shade($color, 25%) solid;
  }
}

// BASE SETUP
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('./images/background.svg') bottom no-repeat;
  background-size: contain;
  background-color: $body-bg;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Rubik';
  font-size: 16px;
  color: $body-color;
}

::-webkit-scrollbar {
  width: 7px;

  &-thumb {
    background: shade($controls-bg, 15%);
    border-radius: 3px;
    margin: 0 2px;
  }
}

// COMPONENTS
.form-control {
  background: $controls-bg;
  border: none;
  border-radius: 10px;
  width: 100%;
  padding: 12px 18px;
  font-family: 'Lexend Deca';
  font-size: 14px;
  color: $body-color;

  &::placeholder {
    color: inherit;
    opacity: 1;
  }

  &:focus {
    outline: 4px shade($controls-bg, 15%) solid;
  }
}

.form-check {
  position: relative;
  display: flex;
  padding-left: 25px;
  cursor: pointer;
  user-select: none;

  &:hover .form-input ~ .form-checkmark {
    background: shade($controls-bg, 15%);
  }

  .form-input {
    position: absolute;
    display: none;
    width: 0;
    height: 0;
    opacity: none;
    cursor: pointer;

    &:checked ~ .form-checkmark:after {
      display: block;
    }
  }

  .form-label {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
  }

  .form-checkmark {
    position: absolute;
    background: $controls-bg;
    width: 18px;
    height: 18px;
    border-radius: 5px;
    top: 0;
    left: 0;
    transition: background .15s ease-in-out;

    &:after {
      position: absolute;
      display: none;
      content: '';
      width: 4px;
      height: 8px;
      border: #ffffff solid;
      border-width: 0 2px 2px 0;
      left: 6px;
      top: 3px;
      transform: rotate(45deg);
    }
  }
}

.btn {
  @include btnColor($controls-bg);
  border: none;
  border-radius: 10px;
  width: 100%;
  padding: 12px 18px;
  font-family: 'Lexend Deca';
  font-size: 16px;
  text-align: center;
  color: $body-color;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  transition: background .15s ease-in-out;

  &.btn-primary {
    @include btnColor($primary);
  }
}

.list {
  font-family: 'Rubik';
  font-size: 16px;
  padding-left: 1rem;

  .list-item {
    position: relative;
    margin-right: -16px;
    margin-bottom: 16px;
    padding-right: 16px;
    padding-left: 4px;
    word-break: break-word;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      & > .btn-delete {
        opacity: 1;
        visibility: visible;
      }
    }

    .btn-delete {
      @include btnColor($danger);
      position: absolute;
      right: 0;
      top: 0;
      border: none;
      border-radius: 3px;
      width: 16px;
      height: 16px;
      font-size: 8px;
      color: $body-color;
      cursor: pointer;
      opacity: 0;
      visibility: hidden;
      transition: opacity .15s ease-in-out;
    }
  }
}

.error-text {
  display: block;
  width: 100%;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  color: $danger;
  transition: opacity .15s ease-in-out;
}

// PAGES
.login-page {
  width: 300px;

  .title {
    font-family: 'Lexend Deca';
    font-size: 64px;
    text-align: center;
    margin-bottom: 35px;
  }

  .form-control {
    margin-bottom: 32px;

    & ~ .form-control {
      margin-bottom: 24px;
    }
  }

  .form-check {
    margin-bottom: 24px;
  }

  .btn {
    margin-bottom: 12px;
  }
}

.list-page {
  width: 500px;
  padding: 16px 0;

  .list-wrapper {
    background: $controls-bg;
    border-radius: 8px;
    padding: 32px;
    padding-right: 0;
  }

  .title {
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 16px;
  }

  .list {
    max-height: 200px;
    padding-right: 48px;
    overflow-y: auto;

    .list-empty {
      display: block;
      width: 100%;
      font-size: 16px;
      text-transform: uppercase;
      text-align: center;
    }
  }

  .task-form {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;

    * {
      margin-bottom: 16px;
    }

    .form-control {
      width: 100%;
    }

    .btn.btn-primary {
      flex: 1;
    }

    .btn:last-child {
      width: auto;
      margin-left: 16px;
    }
  }
}

// MEDIA QUERIES
@media(max-width: 600px) {
  body {
    margin: 0 16px;
  }

  .login-page, .list-page {
    width: 100%;
  }
}
